
{% extends "wagtailadmin/base.html" %}
{% load wagtailadmin_tags static i18n %}
{% block titletag %}{% trans browser_title %}{% endblock %}


{% block content %}
    <header class="w-header w-header--merged">
        <div class="row row-flush">
            <div class="col">
                <h1 class="w-header__title">
                    <img src="{% avatar_url user %}" alt="" class="avatar"/>
                    Add {{ model_verbose_name }}
                </h1>
                <h2>{{ user.get_full_name|default:user.get_username }}</h2>
            </div>
        </div>
    </header>
    <div class="nice-padding">
        <ul class="listing">
            {% if parent_pages %}
                <div class="help-block help-info">
                    Choose a parent section for the new <strong>{{ model_verbose_name }}</strong>
                </div>
            {% else %}
                <p class="help-block help-warning">There are no parent <strong>{{ model_verbose_name }}</strong> sections created for child pages to be added to yet...</p>
            {% endif %}

            {% for page in parent_pages %}
                <li>
                    <a href="/admin/pages/add/{{model_app|lower}}/{{page.model|lower}}/{{page.id}}/" class="icon icon-plus-inverse icon-larger">
                        {% for parent in page.ancestors %}
                            {% if not parent.is_root %}
                                {{ parent }} >
                            {% endif %}
                        {% endfor %}
                        <strong>{{ page.title }}</strong>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}
